<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CDRUploadHandler</servlet-name>
        <servlet-class>cdr.CDRUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serices</servlet-name>
        <servlet-class>serices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewService</servlet-name>
        <servlet-class>WebInterface.NewService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServicePack</servlet-name>
        <servlet-class>WebInterface.NewServicePack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRatePlan</servlet-name>
        <servlet-class>WebInterface.NewRatePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProfile</servlet-name>
        <servlet-class>WebInterface.NewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomer</servlet-name>
        <servlet-class>WebInterface.NewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>WebInterface.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeActivateService</servlet-name>
        <servlet-class>WebInterface.DeActivateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateBill</servlet-name>
        <servlet-class>WebInterface.generateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeRateplan</servlet-name>
        <servlet-class>WebInterface.SubscribeRateplan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CDRUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serices</servlet-name>
        <url-pattern>/serices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewService</servlet-name>
        <url-pattern>/NewService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServicePack</servlet-name>
        <url-pattern>/NewServicePack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRatePlan</servlet-name>
        <url-pattern>/NewRatePlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProfile</servlet-name>
        <url-pattern>/NewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomer</servlet-name>
        <url-pattern>/NewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeActivateService</servlet-name>
        <url-pattern>/DeActivateService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateBill</servlet-name>
        <url-pattern>/generateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeRateplan</servlet-name>
        <url-pattern>/SubscribeRateplan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
